.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    max-width: 430px;
    height: 430px;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--main-color) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 1.8;
    margin-bottom: 0.5rem;
}

@media (max-width: 920px) {
    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        display: none;
    }

    .about-text {
        text-align: center;
    }
}