* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color);
}

span {
    color: var(--main-color);
}

.logo {
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

h3 {
    color: var(--text-color);
    font-size: 1.5rem; /* Ajuste conforme necessário */
}

p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8; /* Ajuste conforme necessário */
}

a {
    color: var(--second-color); /* Cor padrão para links */
    transition: all .45s ease;
}

a:hover {
    color: var(--main-color);
}

.link {
    color: rgb(0, 0, 0); /* Ou var(--text-color) se preferir */
    transition: .5s;
}

.link:hover {
    transition: .5s;
    color: #e4ab32; /* Ou var(--main-color) se preferir */
}