
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Fredericka+the+Great&family=Monoton&family=Nabla&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --ff-logo: "Bruno Ace", cursive;
  --ff-content: "Roboto", sans-serif;

  --lightcolor: white;
  --intercolor: grey;
  --darkcolor: black;
  --bg: white;
  --fc: black;

  --color1: #faf5ff;
  --color2: #f3e8ff;
  --color5: #120063;
  --color9: #2128a8;
  --color9-opacity: rgba(107, 33, 168, 0.11);
  --color10: #070050;
  --color11: #3b0764;

  --filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(337deg)
    brightness(103%) contrast(102%);
  --invertcolor: none;
}