/* Estilo para Modo Escuro */
.dark-mode {
    filter: invert(1);
  }
  
  /* Botão de Alternância */
  .dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .dark-mode-toggle label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .dark-mode-toggle input {
    display: none;
  }
  
  .dark-mode-toggle label::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .dark-mode input:checked + label::before {
    transform: translateX(25px);
  }
  
  .dark-mode input:checked + label {
    background-color: #333;
  }
  