header {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1001;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    gap: 2rem;
    transition: all 0.6s;
}

header.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
    height: 10vh;
}

.logo {
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
}

.navlist {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.mobile-menu { /* Estilos do menu mobile (como você já tinha) */
    /* ... */
}

/* Media Query para o Menu Responsivo */
@media (max-width: 800px) {
    /* ... */
}