/* _responsive.css */

@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky {
        padding: 10px 2.5%;
        transition: .1s;
    }

    section {
        padding: 110px 3% 60px;
    }

    .end { /* Se você tiver um elemento com a classe "end" */
        padding: 15px 3%;
    }
}

@media (max-width: 1100px) {
    :root {
        --big-font: 4rem;
        --h2-font: 2rem;
        --p-font: 0.9rem;
        transition: .1s;
    }

    .home-text h3 {
        font-size: 1.6rem;
    }

    .home {
        height: 87vh;
    }

    .about-text h4 {
        font-size: var(--p-small-font);
    }
}

@media (max-width: 800px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: center;
        justify-content: center;
        transition: all .45s ease;
    }

    .navlist a {
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover {
        color: var(--main-color);
    }

    .navlist.open {
        top: 100%; /* Ajuste conforme necessário */
    }

    .home {
        position: relative;
        height: 87vh; /* Ou 100vh, dependendo do seu design */
        width: 100%;
        background-image: url(../imgages/imagens-de-fundo.jpg); /* Verifique o caminho da imagem */
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .btn {
        font-size: 0.7rem;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .text-box {
        width: 100%;
    }

    .home {
        height: 100vh; /* Ou ajuste para o valor desejado */
    }

    #top {
        position: fixed;
        bottom: 0;
        padding: auto;
        margin: 0 0 5em 1rem;
    }

    .home-text p {
        color: var(--second-color);
        font-size: var(--p-font); /* Use a variável --p-font */
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center; /* Centraliza o texto horizontalmente */
    }

    .link {
        color: rgb(6, 6, 6); /* Ou var(--text-color) se preferir */
        transition: .5s;
    }

    .link:hover {
        transition: .5s;
        color: #000000; /* Ou var(--main-color) se preferir */
    }
}