.services {
    background: var(--second-bg-color);
}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-height: 300px;
    min-height: 200px;
    text-align: center;
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i {
    font-size: 36px;
}

.box h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

.box:hover {
    transform: translateY(-8px);
}