/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
   color: white ;
   font-size: 40px;
   text-align: center;

}

h2.titulo span{
   color : #00FF08; 
}


/*ESTILO DO CABECALHO*/
header{
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
   color: rgb(74, 71, 71);
   text-decoration: none;
   display: inline-block;
   transition: .2s;
}

header a:hover{
    color: white;
    transform: scale(1.10);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

 .btn-contato button:hover{
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1,10);
}

/*ESTILO DO YOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
}

selection.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
   color: #fff;
   font-size: 42px;
   line-height: 40px;
}


.topo-do-site .txt-topo-site h1 span{
    color :#00FF08;
}

.topo-do-site .txt-topo-site p{
    color :#fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
  position:  relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*Tamanho Imagem */
.img-topo-site{
    width: 120px; /* ou qualquer outra largura desejada */
    height: 120px; /* ou qualquer outra altura desejada */
    object-fit: cover; /* opcional, para garantir que a imagem cubra as dimensões especificadas */
    margin-top: -30px; /* ajuste o valor conforme necessário para mover a imagem para cima */
    margin-left: -20px; /* ajuste o valor conforme necessário para mover a imagem para a esquerda */

}

section.especialidades{
    gap: 6opx;

}

section.especialidades .flex{
    padding: 40px 4%;

}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;

}

.especialidades .especialidades-box:hover{
    transform: scale(1.10);
    box-shadow: 0 0 8px white;
}

.especialidades .especialidades-box i{ 
    font-size: 70px;
    color: #00FF08;
}

.especialidades .especialidades-box h3{ 
    font-size: 30px;
    margin: 15px ;

}



